.navbar {
  border-radius: 25px 25px 0px 0px;
}

.nav-link {
  padding: 0.2rem 1.9rem;
  color: #fffcdf;
  text-shadow: 1px 1px 1px #81725c;
}

.navbar-nav {
  padding: 1rem;
}

.nav-link:hover {
  background: #81725c;
  border-radius: 25px;
}

.bg-dark {
  background-color: #a99d8c;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    width: 120%;
  }
}
