.popRecipesContainer{
    background: rgb(221, 214, 205);
    border-radius: 0px 0px 10px 10px;
    padding: 13px 0px 1px;
}

.popRecipe0, .popRecipe1, .popRecipe2 {
    background: url('../images/bg-content.jpg');
    padding: 13px 36px;
    margin: 25px 0px;
    
}

#Ingredient{
    position: relative;
    right: 200px;
    padding-left: 15px;
}

.popRecipeHeading{
    display: flex;
    font-family: "Times New Roman", Times, serif;
    color: #8e0034;
    justify-content: space-between;
} 

.popRecipe0 > img, .popRecipe1 > img, .popRecipe2 > img{
    width: 30%;
    border: 3px solid white;
}

#ingredientsColLeft0, #ingredientsColLeft1, #ingredientsColLeft2, #ingredientsColRight0, #ingredientsColRight1, #ingredientsColRight2 {
    display: inline-block;
    word-break: break-all;
    margin-left: 20px; 
    color: #6c5b37;
    width: 30%;
}