.sidepopular{
    display: inline-block;
    margin-bottom: 25px;
}

.siderecipe1 > a > img, .siderecipe2 > a > img, .siderecipe3 > a > img{
    width: 17%;
    padding-bottom: 20px;
}

.sidetext{
    display: inline-block;
    font-size: 16px;
    color: #6c5b37;
    padding-left: 10px;
    word-break: break-all;
}

.sidetext:hover {
    color: #8e0034;
}