.sidepopular{
    margin-bottom: 25px;
}

.siderecipe1 > a > img, .siderecipe2 > a > img, .siderecipe3 > a > img{
    width: 23%;
    padding-bottom: 20px;
}

.sidetext{
    display: inline-block;
    overflow-wrap: break-word;
    color: #6c5b37;
    padding-left: 10px;
    position: relative;
    bottom: 6px;
}

.sidetext:hover {
    color: #8e0034;
}